.layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"content"
		"spacer"
		"footer";
	width: 600px;
	margin: 0 auto;
	min-height: 100vh;
	gap: 1rem;
	padding: 3rem 0;
}

.content {
	grid-area: content;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer {
	grid-area: footer;
	padding: 5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

@media screen and (max-width: 768px) {
	.layout {
		width: 90%;
	}
}