*,
*::before,
*::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-geist-sans);
	line-height: 1.2;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

p,
ul {
	line-height: 1.5;
}